.animatr-header {
  position: relative;
  width: 20%;
  padding: 16px;
  background-color: #FFFFFF;
}

.animatr-header__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}

.animatr-logo {
  width: 70%;
  margin: auto;
  text-align: center;
  animation: bounce-logo 1s ease-in-out both;
}

.animatr-logo a {
  text-decoration: none;
}

.animatr-logo__jaszlogo {
  width: 50%;
}

.animatr-logo__logo-text {
  line-height: 1;
  margin-top: -15px;
  color: #000000;
  font-family: Vibes, cursive;
  font-size: 56px;
  text-shadow: -1px -1px 1px rgb(255 255 255 / 10%), 1px 1px 1px rgb(0 0 0 / 50%);
  animation: text-logo-show 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.animatr-options {
  margin-top: 32px;
}

.animatr-options__wrapper {
  margin-bottom: 16px;
  animation: selection-entrance 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animatr-options__wrapper--2nd {
  animation: selection-entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animatr-options__wrapper--3rd {
  animation: selection-entrance 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animatr-options__wrapper--4th {
  animation: selection-entrance 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animatr-options__wrapper--5th {
  animation: selection-entrance 1.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animatr-options__label {
  display: block;
  margin-bottom: 4px;
}

.animatr-options__selector {
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
}

@keyframes bounce-logo {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes text-logo-show {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes selection-entrance {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
