/**
 *
 * slide-in class
 *
*/
.jaszanimatr__slide-in {
  animation: slide-in-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  &.jaszanimatr__direction--top {
    animation-name: slide-in-top;
  }

  &.jaszanimatr__direction--right {
    animation-name: slide-in-right;
  }

  &.jaszanimatr__direction--bottom {
    animation-name: slide-in-bottom;
  }

  &.jaszanimatr__direction--left {
    animation-name: slide-in-left;
  }
}

/**
 *
 * animation slide-in-top
 *
*/
@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

/**
 *
 * animation slide-in-right
 *
 */
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

/**
 *
 * animation slide-in-bottom
 *
 */
@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

/**
 *
 * animation slide-in-left
 *
 */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    visibility: hidden;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
