<section id="about" class="content about eMainContentSection active">
    <div class="about__left">
        <h1 id="eAboutTile" class="about__title bounce-in-left">Hi, I'm Jasz 👋</h1>
        <p id="eAboutDescription" class="about__description bounce-in-left-d500ms">I am a passionate Front-end Web Developer with a strong focus on creating clean, responsive, and user-friendly web interfaces. I enjoy turning design concepts into functional, visually appealing experiences using modern web technologies such as HTML, CSS, JavaScript, and Wordpress.</p>
        <div id="eAboutStatus" class="about__status bounce-in-left-d1000ms">
            <div class="about__status-wrap">
                <div class="about__icon page-icon">
                    <img src="./assets/images/dark/icon/location.svg" alt="About section location icon"/>
                </div>
                <p class="about__location-name ">General Trias, Cavite, Philippines</p>
            </div>
            <div class="about__status-wrap">
                <div class="about__icon page-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="8" y="8" width="8" height="8" rx="4" fill="#10B981"/>
                    </svg>
                </div>
                <p class="about__availability-text">Open for work</p>
            </div>
            <div class="about__status-wrap">
                <div class="about__icon page-icon">
                    <img src="./assets/images/dark/icon/language.svg" alt="About section Language icon" />
                </div>
                <p class="about__availability-text">English, Filipino</p>
            </div>
        </div>
        <div id="eAboutSocials" class="about__socials bounce-in-left-d1500ms">
            <div class="about__socials-link">
                <a class="page-icon" href="www.linkedin.com/in/jaszcawil" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <div class="about__socials-link">
                <a class="page-icon" href="https://github.com/jaszcawil/" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="about__socials-link">
                <a class="page-icon" href="https://www.facebook.com/thisisjasz/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <div class="about__socials-link">
                <a class="page-icon" href="https://www.youtube.com/@JaszCawilYT" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="about__right">
        <div id="eAboutImage" class="about__image-wrapper bounce-in-right">
            <img src="./assets/images/about/about.png" class="about__image" />
        </div>
    </div>
</section>