<section id="about" class="content about eMainContentSection active">
    <div class="about__left">
        <h1 id="eAboutTile" class="about__title bounce-in-left">Hi, I'm Jasz 👋</h1>
        <p id="eAboutDescription" class="about__description bounce-in-left-d500ms">I am a passionate Front-end Web Developer with a strong focus on creating clean, responsive, and user-friendly web interfaces. I enjoy turning design concepts into functional, visually appealing experiences using modern web technologies such as HTML, CSS, JavaScript, and Wordpress.</p>
        <div id="eAboutStatus" class="about__status bounce-in-left-d1000ms">
            <div class="about__status-wrap">
                <div class="about__icon page-icon">
                    <img src="./assets/images/dark/icon/location.svg" alt="About section location icon"/>
                </div>
                <p class="about__location-name ">General Trias, Cavite, Philippines</p>
            </div>
            <div class="about__status-wrap">
                <div class="about__icon page-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="8" y="8" width="8" height="8" rx="4" fill="#10B981"/>
                    </svg>
                </div>
                <p class="about__availability-text">Open for work</p>
            </div>
            <div class="about__status-wrap">
                <div class="about__icon page-icon">
                    <img src="./assets/images/dark/icon/language.svg" alt="About section Language icon" />
                </div>
                <p class="about__availability-text">English, Filipino</p>
            </div>
        </div>
        <div id="eAboutSocials" class="about__socials bounce-in-left-d1500ms">
            <div class="about__socials-link">
                <a href="https://linkedin.com/jaszcawil" class="page-icon" title="Linkedin Profile">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.3334 10.667C23.4551 10.667 25.49 11.5098 26.9903 13.0101C28.4906 14.5104 29.3334 16.5453 29.3334 18.667V28.0003H24.0001V18.667C24.0001 17.9597 23.7191 17.2815 23.219 16.7814C22.7189 16.2813 22.0407 16.0003 21.3334 16.0003C20.6262 16.0003 19.9479 16.2813 19.4478 16.7814C18.9477 17.2815 18.6667 17.9597 18.6667 18.667V28.0003H13.3334V18.667C13.3334 16.5453 14.1763 14.5104 15.6766 13.0101C17.1769 11.5098 19.2117 10.667 21.3334 10.667Z" stroke="#D1D5DB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.00008 12.0003H2.66675V28.0003H8.00008V12.0003Z" stroke="#D1D5DB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.33341 8.00033C6.80617 8.00033 8.00008 6.80642 8.00008 5.33366C8.00008 3.8609 6.80617 2.66699 5.33341 2.66699C3.86066 2.66699 2.66675 3.8609 2.66675 5.33366C2.66675 6.80642 3.86066 8.00033 5.33341 8.00033Z" stroke="#D1D5DB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
            <div class="about__socials-link">
                <a href="https://github.com/jaszcawil" class="page-icon" title="GitHub">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.9999 29.3337V24.0003C20.1854 22.33 19.7065 20.6538 18.6666 19.3337C22.6666 19.3337 26.6666 16.667 26.6666 12.0003C26.7732 10.3337 26.3066 8.69366 25.3332 7.33366C25.7066 5.80033 25.7066 4.20033 25.3332 2.66699C25.3332 2.66699 23.9999 2.66699 21.3332 4.66699C17.8132 4.00033 14.1866 4.00033 10.6666 4.66699C7.99989 2.66699 6.66655 2.66699 6.66655 2.66699C6.26655 4.20033 6.26655 5.80033 6.66655 7.33366C5.69572 8.68817 5.22452 10.3374 5.33322 12.0003C5.33322 16.667 9.33322 19.3337 13.3332 19.3337C12.8132 19.987 12.4266 20.7337 12.1999 21.5337C11.9732 22.3337 11.9066 23.1737 11.9999 24.0003V29.3337" stroke="#D1D5DB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.0001 23.9997C5.98675 26.6663 5.33341 21.333 2.66675 21.333" stroke="#D1D5DB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="about__right">
        <div id="eAboutImage" class="about__image-wrapper bounce-in-right">
            <img src="./assets/images/about/about.png" class="about__image" />
        </div>
    </div>
</section>