<section id="contact" class="content contact eMainContentSection inactive">
    <p id="eContactDesc" class="contact__description tracking-out-contact">Feel free to reach out to me if you're looking for a front end developer, have a query, or simply want to connect.</p>

    <a id="eContactEmail" href="mailto:emailofjasz@gmail.com" class="contact__detail contact__detail--margin bounce-out-bottom-d2000ms"><img src="./assets/images/dark/icon/inbox.svg" class="contact__icon" alt="Contact email icon"/>emailofjasz@gmail.com</a>

    <a id="eContactTel" href="tel:+639763586665" class="contact__detail bounce-out-bottom-d1500ms"><img src="./assets/images/dark/icon/phone.svg" class="contact__icon" alt="Contact phone icon"/>+63 976 358 6665</a>

    <div class="contact__other">
        <p id="eContactOtherDesc" class="contact__other-description bounce-out-bottom-d1000ms">You may also find me on these platforms.</p>
        <div class="contact__other-list">
            <div id="eContactLinkedIn" class="contact__other-single bounce-out-bottom-d500ms">
                <a href="https://linkedin.com/jaszcawil"><img src="./assets/images/dark/icon/linkedin.svg" alt="LinkedIn logo" /></a>
            </div>
            <div id="eContactGit" class="contact__other-single bounce-out-bottom">
                <a href="https://github.com/jaszcawil"><img src="./assets/images/dark/icon/git.svg" alt="GitHub logo" /></a>
            </div>
        </div>
    </div>
</section>