<section id="experience" class="content experience eMainContentSection inactive">
    <p id="eExpDesc" class="experience__description tracking-out-contract">Here are my work experiences</p>
    <div id="eExpList" class="experience__list bounce-out-bottom">
        <div class="experience__single">
            <div class="experience__company-logo">
                <div class="experience__image">
                    <img src="./assets/images/experiences/soci.svg" alt="SOCi Logo" />
                </div>
            </div>
            <div class="experience__details">
                <p class="experience__position">Front End Web Developer</p>
                <p class="experience__company-name">SOCi.ai <span class="experience__job-type">- Full time</span></p>
                <ul class="experience__tasks">
                    <li>Creating and maintaining customer's landing pages.</li>
                    <li>Optimize and SEO tasks.</li>
                    <li>HTML, CSS, JavaScript, JQuery, Figma, GIT, SEO, Optimization,Accessibility</li>
                </ul>
            </div>
            <p class="experience__dates">2023 - 2026</p>
        </div>
        <div class="experience__single">
            <div class="experience__company-logo">
                <div class="experience__image">
                    <img src="./assets/images/experiences/cafe24.svg" alt="Cafe24 Logo" />
                </div>
            </div>
            <div class="experience__details">
                <p class="experience__position">UI/UX Developer</p>
                <p class="experience__company-name">Cafe24 Philippines <span class="experience__job-type">- Full time</span></p>
                <ul class="experience__tasks">
                    <li>Lead a team of junior developers.</li>
                    <li>Converting PSD to HTML to Wordpress.</li>
                    <li>Creating websites for Cafe24's clients.</li>
                    <li>Creating in-house plugins.</li>
                    <li>HTML, CSS, SCSS, JavaScript, JQuery, WordPress, Photoshop</li>
                </ul>
            </div>
            <p class="experience__dates">2014 - 2023</p>
        </div>
        <div class="experience__single">
            <div class="experience__company-logo">
                <div class="experience__image">
                    <img src="./assets/images/experiences/mgdph.svg" alt="MGDPh Logo" />
                </div>
            </div>
            <div class="experience__details">
                <p class="experience__position">Web Developer</p>
                <p class="experience__company-name">Music Gear Distribution PH <span class="experience__job-type">- Freelance</span></p>
                <ul class="experience__tasks">
                    <li>Developed and maintained the store's website.</li>
                    <li>WordPress, WooCommerce, Elementor</li>
                </ul>
            </div>
            <p class="experience__dates">2019 - 2025</p>
        </div>
        <div class="experience__single">
            <div class="experience__company-logo">
                <div class="experience__image">
                    <img src="./assets/images/experiences/default.svg" alt="Default Logo for ATOMPh" />
                </div>
            </div>
            <div class="experience__details">
                <p class="experience__position">Web Developer</p>
                <p class="experience__company-name">ATOM Ph <span class="experience__job-type">- Freelance</span></p>
                <ul class="experience__tasks">
                    <li>Developed and maintained the organization's website.</li>
                    <li>WordPress, Elementor</li>
                </ul>
            </div>
            <p class="experience__dates">2020 - 2021</p>
        </div>
        <div class="experience__single">
            <div class="experience__company-logo">
                <div class="experience__image">
                    <img src="./assets/images/experiences/theretrofitshop.svg" alt="The Retrofit Shop Logo" />
                </div>
            </div>
            <div class="experience__details">
                <p class="experience__position">Website Administrator</p>
                <p class="experience__company-name">ATOM Ph <span class="experience__job-type">- Full time</span></p>
                <ul class="experience__tasks">
                    <li>Developed the shop's website and maintain it.</li>
                    <li>WordPress, SEO</li>
                </ul>
            </div>
            <p class="experience__dates">2012 - 2014</p>
        </div>
    </div>
</section>