<section id="skills" class="content skills eMainContentSection inactive">
    <p id="eSkillsDescription" class="skills__description tracking-out-contract">The skills, tools and technologies I know</p>
    <div class="skills__list">
        <div id="eHTMLSkill" class="skills__single bounce-out-top">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/html.svg" class="skills__image" alt="HTML logo" />
            </div>
            <p class="skills__name">HTML</p>
        </div>
        <div id="eCSSSkill" class="skills__single bounce-out-top-d500ms">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/css.svg" class="skills__image" atl="CSS logo" />
            </div>
            <p class="skills__name">CSS</p>
        </div>
        <div id="eJSSkill" class="skills__single bounce-out-top-d1000ms">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/javascript.svg" class="skills__image" alt="JS Logo" />
            </div>
            <p class="skills__name">JavaScript</p>
        </div>
        <div id="eJQuerySkill" class="skills__single bounce-out-top-d1500ms">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/jquery.svg" class="skills__image" alt="JQuery Logo" />
            </div>
            <p class="skills__name">jQuery</p>
        </div>
        <div id="eWPSkill" class="skills__single bounce-out-top-d2000ms">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/wordpress.svg" class="skills__image" alt="WP Logo" />
            </div>
            <p class="skills__name">WordPress</p>
        </div>
        <div id="eFigmaSkill" class="skills__single bounce-out-bottom-d2000ms">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/figma.svg" class="skills__image skills__image--figma" alt="Figma Logo" />
            </div>
            <p class="skills__name">Figma</p>
        </div>
        <div id="eGitSkill" class="skills__single bounce-out-bottom-d1500ms">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/git.svg" class="skills__image" alt="GitHub Logo" />
            </div>
            <p class="skills__name">GitHub</p>
        </div>
        <div id="eSEOSkill" class="skills__single bounce-out-bottom-d1000ms">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/default.svg" class="skills__image" alt="Default logo for SEO" />
            </div>
            <p class="skills__name">SEO</p>
        </div>
        <div id="eOptSkill" class="skills__single bounce-out-bottom-d500ms">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/default.svg" class="skills__image" alt="Default logo for Optimization" />
            </div>
            <p class="skills__name">Optimization</p>
        </div>
        <div id="eAccSkill" class="skills__single bounce-out-bottom">
            <div class="skills__image-wrap">
                <img src="./assets/images/skills/default.svg" class="skills__image" alt="Default logo for Accessibility" />
            </div>
            <p class="skills__name">Accessibility</p>
        </div>
    </div>
</section>