body {
    background: var(--color-dark-default) url('../images/dark/background.png') no-repeat center 380px;
    color: var(--text-light-default);
}

a {
    color: var(--text-light-default);
}

.button {
    background-color: var(--color-dark-900);
    color: var(--color-dark-50);
}

.logo {
    font-family: var(--font-rock-salt);
}

.hide {
    display: none !important;
}

/* Header */
.header-wrapper {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-dark-default)
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 16px;
}

.logo {
    margin-bottom: 16px;
}

.logo a,
.logo a:hover {
    color: var(--text-light-default);
}

.menu,
.menu__first,
.menu__second {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 24px;
}

.menu__item-button {
    position: relative;
    font-size: 18px;
    color: var(--color-dark-600);
}

.menu__item-button.active,
.menu__item-button:hover {
    color: var(--color-purple);
}

.social-links {
    display: none;
}

@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
    }

    .logo {
        margin-bottom: 0;
    }

    .menu__link--theme-changer svg path {
        stroke: #D1D5DB;
    }

    .social-links {
        display: flex;
        column-gap: 8px;
    }

    .social-links__item {
        background-color: var(--color-dark-950);
        color: var(--color-dark-default);
        font-size: 32px;
        border-radius: 8px;
    }
}

@media (min-width: 1024px) {
}

/* Main Content */
.main-content {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 123px auto 0;
    padding: 16px;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
}

.content.active {
    z-index: 2;
    opacity: 1;
}

.content.inactive {
    z-index: 1;
    opacity: 0;
}
@media (min-width: 768px) {
    .main-content {
        margin: auto;
    }
}

@media (min-width: 1024px) {
}

/* About */
.about {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 24px;
    padding-bottom: 24px;
}

.about__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about__title,
.about__description,
.about__status {
    margin-bottom: 24px;
    text-align: center;
}

.about__status-wrap {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 8px;
}

.about__icon {
    display: flex;
    justify-content: center;
    min-width: 32px;
    max-height: 32px;
}

.about__socials {
    display: flex;
    column-gap: 16px;
}

.about__socials-link {
    display: flex;
}

.page-icon {
    font-size: 32px;
}

.about__right {
    flex-direction: column;
}

.about__image-wrapper {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    margin: auto;
    background-color: var(--color-dark-200);
    border-radius: 20px 100px;
}

.about__image {
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    .about {
        flex-direction: row;
    }

    .about__left {
        align-items: baseline;
        flex-direction: column;
        justify-content: center;
        width: 75%;
    }

    .about__title,
    .about__description,
    .about__status {
        margin-bottom: 32px;
        text-align: left;
    }

    .about__right {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .about__image-wrapper {
        min-width: 400px;
    }
}

@media (min-width: 1024px) {
}

/* Skills */
.content.skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__description {
    margin-bottom: 80px;
    font-size: 24px;
    text-align: center;
}

.skills__list {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    row-gap: 32px;
    width: 100%;
    max-width: 960px;
}

.skills__single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}

.skills__image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    padding: 8px;
    background-color: var(--color-dark-600);
    border-radius: 4px;
}

.skills__image {
    width: 100%;
}

.skills__image--figma {
    width: auto;
    height: 100%;
}

@media (min-width: 640px) {
    .skills__list {
        grid-template-columns: auto auto auto auto;
    }
}

@media (min-width: 768px) {
    .skills__list {
        row-gap: 48px;
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (min-width: 1024px) {
    
}

/* Experience */
.content.experience {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience__description {
    margin-bottom: 80px;
    font-size: 24px;
    text-align: center;
}

.experience__list {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    height: 100%;
    max-height: 450px;
    padding-right: 6px;
    overflow-y: scroll;
}

.experience__list::-webkit-scrollbar {
    width: 6px;
}

.experience__list::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--color-dark-600);
    border: 1px solid var(--color-dark-200);
}

.experience__list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--color-dark-300);
}

.experience__single {
    position: relative;
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    width: 100%;
    max-width: 768px;
    padding: 16px;
    background-color: var(--color-dark-100);
    border-radius: 8px;
}

.experience__company-logo,
.experience__details,
.experience__dates {
    width: 100%;
}

.experience__company-logo {
    margin-bottom: 16px;
}

.experience__image {
    display: inline-block;
    width: 100%;
    max-width: 140px;
    padding: 8px;
    background-color: var(--color-dark-700);
    border-radius: 8px;
}

.experience__image img {
    width: 100%;
}

.experience__position {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
}

.experience__company-name {
    margin-bottom: 16px;
    font-weight: 500;
}

.experience__job-type {
    font-size: 12px;
    font-weight: 400;
}

.experience__tasks {
    padding-left: 16px;
    font-size: 14px;
}

.experience__tasks li {
    margin-bottom: 4px;
}

.experience__dates {
    position: absolute;
    top: 16px;
    right: 16px;
    text-align: right;
}

@media (min-width: 768px) {
    .experience__single {
        flex-direction: row;
        padding: 32px;
    }

    .experience__company-logo {
        width: 25%;
    }

    .experience__details {
        width: 60%;
    }

    .experience__dates {
        width: 15%;
    }

    .experience__company-logo {
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    
}

/* Contact */
.content.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__description {
    margin-bottom: 80px;
    font-size: 24px;
    text-align: center;
}

.contact__detail {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    font-size: 20px;
}

.contact__detail--margin {
    margin-bottom: 24px;
}

.contact__other {
    margin-top: 48px;
}

.contact__other-description {
    font-size: 14px;
}

.contact__other-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-top: 16px;
}

.contact__other-single a {
    font-size: 32px;
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
    
}