:root {
    /* Fonts */
    --font-montserrat: "Montserrat", sans-serif;
    --font-rock-salt: "Rock Salt", cursive;

    /* Colors */
    --color-dark-default: #030712;
    --color-dark-50: #111827;
    --color-dark-100: #1f2937;
    --color-dark-200: #374151;
    --color-dark-300: #4b5563;
    --color-dark-400: #6b7280;
    --color-dark-500: #9ca3af;
    --color-dark-600: #d1d5db;
    --color-dark-700: #e5e7eb;
    --color-dark-800: #f3f4f6;
    --color-dark-900: #f9fafb;
    --color-dark-950: #ffffff;

    --color-light-default: #ffffff;
    --color-light-50: #f9fafb;
    --color-light-100: #f3f4f6;
    --color-light-200: #e5e7eb;
    --color-light-300: #d1d5db;
    --color-light-400: #9ca3af;
    --color-light-500: #6b7280;
    --color-light-600: #4b5563;
    --color-light-700: #374151;
    --color-light-800: #1f2937;
    --color-light-900: #111827;
    --color-light-950: #030712;

    --color-emerald: #10b981;
    --color-purple: #fa6dfa;

    /* Text Colors */
    --text-light-default: #ffffff;
    --text-light-50: #f9fafb;
    --text-light-100: #f3f4f6;
    --text-light-200: #e5e7eb;
    --text-light-300: #d1d5db;
    --text-light-400: #9ca3af;
    --text-light-500: #6b7280;
    --text-light-600: #4b5563;
    --text-light-700: #374151;
    --text-light-800: #1f2937;
    --text-light-900: #111827;
    --text-light-950: #030712;
    
    --text-dark-default: #030712;
    --text-dark-50: #111827;
    --text-dark-100: #1f2937;
    --text-dark-200: #374151;
    --text-dark-300: #4b5563;
    --text-dark-400: #6b7280;
    --text-dark-500: #9ca3af;
    --text-dark-600: #d1d5db;
    --text-dark-700: #e5e7eb;
    --text-dark-800: #f3f4f6;
    --text-dark-900: #f9fafb;
    --text-dark-950: #ffffff;

    /* Text sizes */
    --heading-h1-desktop: 60px;
    --heading-h1-tablet: 48px;
    --heading-h1-mobile: 36px;

    --heading-h2-desktop: 36px;
    --heading-h2-tablet: 24px;
    --heading-h2-mobile: 24px;

    --heading-h3-desktop: 30px;
    --heading-h3-tablet: 18px;
    --heading-h3-mobile: 18px;

    --subtitle-desktop: 20px;
    --subtitle-tablet: 18px;
    --subtitle-mobile: 18px;

    --body-text-size: 16px;


    /* Sizes */
    --content-max-width: 1440px;
    --content-padding-pc: 120px;
}

body {
    width: 100%;
    margin: auto;
    font-family: var(--font-montserrat);
    font-size: var(--body-text-size);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-purple);
}

h1 {
    font-size: var(--heading-h1-mobile);
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.button {
    padding: 6px 16px;
    border-radius: 12px;
}

.content {
    width: 100%;
    margin: auto;
    padding: 0 16px;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: var(--heading-h1-tablet);
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: var(--heading-h1-desktop);
    }

    .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        column-gap: 32px;
        margin: 32px 0;
    }
}